# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.sh
!*.yaml
!.gitignore
!.gitmodules
!*.md
!.travis.yml
!includes/automations/
!includes/binary_sensors/
!includes/cameras/
!includes/climates/
!custom_components/
!unused_customs/
!includes/device_trackers/
!includes/image_processings/
!includes/
!includes/input_booleans/
!includes/input_selects/
!includes/media_players/
!includes/notifies/
!includes/panel_iframes/
!includes/remotes/
!includes/sensors/
!ui/
!www/
!includes/automations/**
!includes/binary_sensors/**
!includes/cameras/**
!includes/climates/**
!custom_components/**
!unused_customs/**
!includes/device_trackers/**
!includes/image_processings/**
!includes/**
!includes/input_booleans/**
!includes/input_selects/**
!includes/media_players/**
!includes/notifies/**
!includes/panel_iframes/**
!includes/remotes/**
!includes/sensors/**
!ui/**
!www/**

# Ignore folders.
.storage
.cloud
.google.token
www/camera
www/deepstack
deps
custom_components/tahoma/__pycache__
custom_components/tahoma/__pycache__/**
**/__pycache__/**

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
custom_components/hacs/__pycache__/
www/.DS_Store
/custom_components/tahoma/
