# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.sh
!*.yaml
!.gitignore
!.gitmodules
!*.md
!.travis.yml
!automations/
!binary_sensors/
!cameras/
!climates/
!custom_components/
!deps/
!device_trackers/
!image_processings/
!includes/
!input_booleans/
!input_selects/
!media_players/
!notifies/
!panel_iframes/
!remotes/
!sensors/
!www/

# Ignore folders.
.storage
.cloud
.google.token
www/camera
www/deepstack
custom_components/tahoma/__pycache__
custom_components/tahoma/__pycache__/**

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
