# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.sh
!*.yaml
!.gitignore
!.gitmodules
!*.md
!.travis.yml
!custom_components
!custom_components/**
!www
!www/**

# Ignore folders.
.storage
.cloud
.google.token
www/camera
www/deepstack
custom_components/tahoma/__pycache__
custom_components/tahoma/__pycache__/**

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
